<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Dashboard - NutriMoug</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

{% include "components/sidebar.html" %}

<div class="main-content">

    {% include "components/profil.html" %}

    {% include "components/nutrition.html" %}

    {% include "components/menus.html" %}

    {% include "components/recettes.html" %}

    {% include "components/favoris.html" %}

    {% include "components/planning.html" %}

    {% include "components/poids.html" %}

    {% include "components/journal.html" %}

    {% include "components/statistiques.html" %}

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>

<script src="{{ url_for('static', filename='js/modal.js') }}"></script>

<script src="{{ url_for('static', filename='js/recettes.js') }}"></script>

<script src="{{ url_for('static', filename='js/favoris.js') }}"></script>

<script src="{{ url_for('static', filename='js/planning.js') }}"></script>
</body>

</html>