<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>NutriMoug</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>

<body>

<div class="hero-container">

    <div class="hero-card">

        <div class="logo">

            <i class="fa-solid fa-leaf"></i>

            <h1>NutriMoug</h1>

        </div>

        <h2>
            Votre assistant nutritionnel personnalisé
        </h2>

        <p>
            Gérez votre alimentation, suivez votre poids,
            calculez vos besoins nutritionnels et atteignez vos objectifs santé.
        </p>

        <div class="hero-buttons">

            <a href="/login" class="btn-login">

                <i class="fa-solid fa-right-to-bracket"></i>

                Connexion

            </a>

            <a href="/register" class="btn-register">

                <i class="fa-solid fa-user-plus"></i>

                Inscription

            </a>

        </div>

    </div>

</div>

</body>

</html>