<div class="sidebar">

    {% include 'components/logo.html' %}

    <ul>

        <li class="tab-btn active" data-tab="profil">
            <i class="fa-solid fa-user"></i>
            <span>Profil</span>
        </li>

        <li class="tab-btn" data-tab="nutrition">
            <i class="fa-solid fa-apple-whole"></i>
            <span>Nutrition</span>
        </li>

        <li class="tab-btn" data-tab="menus">
            <i class="fa-solid fa-utensils"></i>
            <span>Menus</span>
        </li>

        <li class="tab-btn" data-tab="recettes">
            <i class="fa-solid fa-book-open"></i>
            <span>Recettes</span>
        </li>
        <li class="tab-btn" data-tab="favoris">

            <i class="fa-solid fa-heart"></i>

            <span>Favoris</span>

        </li>

        <li class="tab-btn" data-tab="planning">

            <i class="fa-solid fa-calendar-days"></i>

            <span>Planning</span>

        </li>

        <li class="tab-btn" data-tab="poids">
            <i class="fa-solid fa-weight-scale"></i>
            <span>Suivi poids</span>
        </li>

        <li class="tab-btn" data-tab="journal">
            <i class="fa-solid fa-book"></i>
            <span>Journal</span>
        </li>

        <li class="tab-btn" data-tab="stats">
            <i class="fa-solid fa-chart-line"></i>
            <span>Statistiques</span>
        </li>

        <li>

            <a href="/logout">

                <i class="fa-solid fa-right-from-bracket"></i>

                <span>Déconnexion</span>

            </a>

        </li>

    </ul>

</div>